@model Product
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Excluir Produto</h2>
            <hr />
        </div>
          <div class="mb-3">
            <label asp-for="Name">Nome</label>
            <input disabled asp-for="Name" placeholder="Digite o nome do fornecedor" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description">Descrição do Produto</label>
            <textarea disabled asp-for="Description" placeholder="Informe a descrição do produto." class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Quantity" >Quantidade</label>
            <input disabled asp-for="Quantity"  placeholder="informe a quantidade do produto" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
          <div class="mb-3">
            <label asp-for="Price" >Preço</label>
            <input disabled asp-for="Price"  placeholder="informe o preço do produto" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Remover</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Voltar a Lista</a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_Notification" />
    <partial name="_ValidationScriptsPartial" />
    }
}
