@model Contact
@{
    ViewData["Title"] = "Contact Page";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Contato</h2>
            <hr />
        </div>
        <div class="alert alert-success" id="successful-contact" role="alert">
            This is a success alert—check it out!
        </div>
        <div class="mb-3">
            <label asp-for="Name">Nome de contato</label>
            <input asp-for="Name" required placeholder="Escreva seu nome." class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email">E-mail de contato</label>
            <input asp-for="Email" data-inputmask="'alias': 'email'" inputmode="numeric" id="email" placeholder="Escreva seu e-mail de contato." class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone"> Telefone de contato</label>
            <input asp-for="Phone" placeholder="(XX)XXXX-XXXX" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Mensage">Mensagem de contato</label>
            <textarea asp-for="Mensage" placeholder="Mensagem para o contato." class="form-control"></textarea>
            <span asp-validation-for="Mensage" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Line_Of_Contact">Meio de contato</label>
            <select class="form-select" aria-label="Default select example" asp-for="Line_Of_Contact" class="form-control">
                <option>Whatsapp</option>
                <option>Email</option>
                <option>Telefone</option>
            </select>
            <span asp-validation-for="Hour_Contact" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Hour_Contact">Melhor horario para contato</label>
            <select class="form-select" aria-label="Default select example" asp-for="Hour_Contact" class="form-control">
                <option>Manhã</option>
                <option>Tarde</option>
                <option>Noite</option>
            </select>
            <span asp-validation-for="Hour_Contact" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Need_Descount">Quer receber cupom de desconto?</label>
            <select class="form-select" aria-label="Default select example" asp-for="Need_Descount" class="form-control">
                <option value="1">Sim</option>
                <option value="0">Não</option>
            </select>
            <span asp-validation-for="Need_Descount" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" id="botao-enviar-contato" style="width:150px">Enviar</button>
    </div>
</form>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
