@model Supplier_Product

<form method="post">
    <input id="id-fornecedor" type="hidden" asp-for="SupplierId" value="@Model.SupplierId" />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nome do Fornecedor
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="25%">
                    <h2 class="text-danger" id="name-supplier"></h2>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Adicionar Produto</h2>
            <hr />
        </div>
        <div>
            <p id="erro">Ocorreu um erro, por favor tente novamente</p>
        </div>
        <div class="mb-3">
            <label asp-for="ProductId">Nome do produto</label>
            <select class="form-select" aria-label="Default select example" asp-for="ProductId" asp-items="ViewBag.Product" class="form-control">
                <option>Nenhum</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price">Preço do produto</label>
            <input asp-for="Price" required placeholder="Informe o preço do produto." class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Drescription">Descrição do produto</label>
            <textarea asp-for="Drescription" required placeholder="Informe a descrição do produto." class="form-control"></textarea>
            <span asp-validation-for="Drescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" style="width:150px">Adicionar</button>
            <a asp-controller="Supplier" asp-action="Index" class="btn btn-secondary" style="width:150px">Voltar</a>
        </div>
    </div>
</form>
@section Scripts{
    @{
    <partial name="_Notification" />
    <partial name="_ValidationScriptsPartial" />
    }
}
