html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#spinner {
    display: none;
}

#erro {
    color: rgb(251, 78, 78);
    font-size: large;
    display: none;
}