@{
    ViewData["Title"] = "Home Page";
}


        <main>
            <section class="apresentacaoLoja">
                <h2 class="tituloPrincipal"> Sobre o Mateus Cambraia </h2>
                    <p id="nomeLoja"> Se localiza em <strong>Belo Horizonte.</strong> Começou a estudar sobre programação e de inicio conheceu a linguagem Java,
                        mas logo que viu <strong>C#</strong> se apaixonou pela linguagem, tem um <strong>curso completo de MySql e de C#</strong>, feitos na alura conhecimento sobre <strong>Asp.Net Core e padrão de projeto
                        M.V.C</strong>, conhecimento sobre<strong>HTML5/CSS e J.S,</strong> sigo fazendo projetos para aprimorar meus conhecimentos nas minhas respectivas especialidades, não tenho medo de novas linguagens afinal
                        programação é uma só.
                    </p>
            
                    <p>Oferecemos meus conhecimentos e dedicação para a evolução da empresa e do sistema.
                    </p>

                    <p><em> O ditado é: <strong>"São pequenos passos que levam a distancias inimagináveis"</strong>. </em>
                    </p>
            </section>

            <section class="mapa">
                <h3 class="tituloPrincipal">Localização proxima ao Zoologico/Pampulha</h3>
                <p>Possibilidade de pegar onibus de <strong>Belo Horizonte/Contagem</strong>.</p>
                <iframe class = "mapa-google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15012.10277439909!2d-44.02375154999999!3d-19.83886575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69228c4689e7d%3A0x8183bcfdc9d79aed!2sXangri-La%2C%20Belo%20Horizonte%20-%20MG!5e0!3m2!1spt-BR!2sbr!4v1652792919649!5m2!1spt-BR!2sbr" width="960" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
                    
            </section>

            <section class="beneficios">
                <h3 class="tituloPrincipal" >Oque contém neste projeto</h3>
                <div class="conteudo-beneficios">
                    <ul class="lista-beneficios">
                        <li class="itens-beneficios"> Uma tela de fornecedores</li> 
                         <p> - Nesta tela você poderá Criar/Alterar/Remover/Visualizar <strong>um fornecedor</strong>, alem de vincula-lo a
                             um <strong>produto</strong> (uma bebida).</p>
                        <li class="itens-beneficios"> Uma tela de Contato</li> 
                         <p> - Nesta tela você poderá Enviar <strong>um formulario</strong>que irá salvar os dados de contato no banco.</p>
                           <li class="itens-beneficios"> Uma tela de Produtos</li> 
                         <p> - Nesta tela você poderá Criar/Alterar/Remover/Visualizar <strong>um produto</strong>, alem de trazer os fornecedores
                             que possuem este produto.</p>
                    </ul>
                </div>
                   <div class="conteudo-beneficios">
                       <h4 class="tituloPrincipal" >Este projeto fará a utilização de:</h4>
                    <ul class="lista-beneficios">
                        <li class="itens-beneficios"> <a href="https://getbootstrap.com/">Bootstrap</a></li> 
                        <li class="itens-beneficios"> <a href="https://bootswatch.com/">Bootswatch</a></li> 
                        <li class="itens-beneficios"> <a href="https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/">EntityFramework</a></li> 
                        <li class="itens-beneficios"> <a href="https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/">Pomelo</a></li> 
                        <li class="itens-beneficios"> <a href="https://www.mysql.com/">MySql</a></li> 
                        <li class="itens-beneficios"> <a href="https://www.devmedia.com.br/introducao-ao-padrao-mvc/29308">Padrão de projeto M.V.C</a>(Model, View, Controller)</li>
                    </ul>
                </div
                </div>
                   <div class="conteudo-beneficios">
                       <h4 class="tituloPrincipal" >Formas de contato:</h4>
                    <ul class="lista-beneficios">
                        <li class="itens-beneficios"> <a href="https://www.linkedin.com/in/mateus-cambraia-493028201/">Linkedin</a></li> 
                        <li class="itens-beneficios"> <a href="https://github.com/MateusCambraiaGHP">GitHub</a></li> 
                    </ul>
                </div>
            </section>
        </main>  

