@{
    ViewData["Title"] = "Home Page";
}


       <main>
              <div class="px-4 py-3 my-5 text-center">
                <img class="d-block mx-auto mb-15" src="//media-exp1.licdn.com/dms/image/C4D03AQF8XiIysom7CA/profile-displayphoto-shrink_200_200/0/1652730589896?e=1658966400&v=beta&t=-qJbwE0-g7W-6o0RQQZk8kO15c4fMUPOZGEiq0qxfZk" alt="" width="130" height="130">
                <h1 class="display-5 fw-bold">Mateus Cambraia</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">Se localiza em <strong>Belo Horizonte</strong>. Começou a estudar sobre programação e de inicio conheceu a linguagem Java, mas logo que viu <strong>C#</strong> se apaixonou pela linguagem, tem um curso completo de <strong>MySql e de C#</strong>, feitos na <strong>Alura</strong> conhecimento sobre <strong>Asp.Net Core</strong> e padrão de <strong>projeto M.V.C</strong>, conhecimento sobre <strong>HTML5/CSS e J.S</strong>, sigo fazendo projetos para aprimorar meus conhecimentos nas minhas respectivas especialidades, não tenho medo de novas linguagens afinal <strong><i>programação é uma só</i>.</strong></p>
                </div>
                <div class="px-4 py-3 my-5 text-center">
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4"><strong>Ofereço meus conhecimentos e dedicação para a evolução da empresa e do sistema.</strong></p>
                  <p class="lead mb-4"><i> O ditado é: <strong>"São pequenos passos que levam a distâncias inimagináveis"</strong>. </i></p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  </div>
                </div>
              </div>
            <div class="px-4 py-2 my-4 text-center">
             <h1 class="display-5 fw-bold">Oque contém neste projeto</h1>
             <ul class="list-group">
              <li class="list-group-item" ><strong>TELA DE FORNECEDORES</strong></li>
               <p> - Nesta tela você poderá Criar/Alterar/Remover/Visualizar <strong>um fornecedor</strong>, alem de vincula-lo a
                             um <strong>produto</strong> (uma bebida).</p>
              <li class="list-group-item"><strong>TELA DE PRODUTOS</strong></li>
               <p> - Nesta tela você poderá Criar/Alterar/Remover/Visualizar <strong>um produto</strong>, alem de trazer os fornecedores
                             que possuem este produto.</p>
              <li class="list-group-item"><strong>TELA DE CONTATO</strong></li>
                <p> - Nesta tela você poderá Enviar <strong>um formulario</strong> que irá salvar os dados de contato no banco.</p>
                </ul>
             </div>
          </div>
          <div class="px-4 py-2 my-4 text-center">
          <section class="mapa">
                <h1 class="display-5 fw-bold">Localização proxima a Pampulha/Zoologico</h1>
                <p><i>Possibilidade de pegar onibus de <strong>Belo Horizonte/Contagem</strong></i>.</p>
                <iframe class = "mapa-google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15012.10277439909!2d-44.02375154999999!3d-19.83886575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69228c4689e7d%3A0x8183bcfdc9d79aed!2sXangri-La%2C%20Belo%20Horizonte%20-%20MG!5e0!3m2!1spt-BR!2sbr!4v1652792919649!5m2!1spt-BR!2sbr" width="960" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
           </div>
           <div class="px-4 py-2 my-4 text-center">
             <h1 class="display-5 fw-bold">Quais ferramentas foram usadas neste projeto</h1>
             <ul class="list-group">
                  <li class="list-group-item" ><a href="https://getbootstrap.com/">Bootstrap</a></strong></li>
                  <li class="list-group-item"><a href="https://bootswatch.com/">Bootswatch</a></li>
                  <li class="list-group-item" ><a href="https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/">EntityFramework</a></strong></li>
                  <li class="list-group-item"><a href="https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/">Pomelo</a></li>
                  <li class="list-group-item" ><a href="https://www.mysql.com/">MySql</a></strong></li>
                  <li class="list-group-item"><a href="https://www.devmedia.com.br/introducao-ao-padrao-mvc/29308">Padrão de projeto M.V.C(Model, View, Controller)</a></li>
              </ul>
             </div>
          <div class="px-4 py-2 my-4 text-center">
             <h1 class="display-5 fw-bold">Formas de Contato</h1>
             <ul class="list-group">
              <li class="list-group-item" ><strong><a href="https://www.linkedin.com/in/mateus-cambraia-493028201/">Linkedin</a></strong></li>
              <li class="list-group-item"><strong><a href="https://github.com/MateusCambraiaGHP">GitHub</a></strong></li>
             </ul>
             </div>
        </main>  

